version: "3.8"

services:
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: vm
    ports:
      - "8428:8428"
    command:
      - "-retentionPeriod=7d"
    volumes:
      - vmdata:/victoria-metrics-data

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - victoriametrics

volumes:
  vmdata:
  grafana_data:
