#!/bin/sh
# config maintainer script for rsyslog-mysql

set -e

# source debconf stuff
. /usr/share/debconf/confmodule

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
   . /usr/share/dbconfig-common/dpkg/config.mysql

   dbc_dbname="Syslog"
   dbc_dbuser="rsyslog"
   dbc_dbserver="${dbc_dbserver:-localhost}"
   dbc_dbport="${dbc_dbport:-3306}"

   dbc_go rsyslog-mysql "$@"
fi

