#!/bin/sh
# config maintainer script for rsyslog-pgsql
 
set -e

# source debconf stuff
. /usr/share/debconf/confmodule

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
   . /usr/share/dbconfig-common/dpkg/config.pgsql

   dbc_dbname="Syslog"
   dbc_dbuser="rsyslog"
   dbc_dbserver="${dbc_dbserver:-localhost}"
   dbc_dbport="${dbc_dbport:-5432}"

   dbc_go rsyslog-pgsql "$@"
fi

