patch*
*~
*.gc*
*.iml
.idea
.tar.gz
.deps
.libs
*.o
*.lo
*.la
Makefile
Makefile.in
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
libtool
ltmain.sh
aclocal.m4
miniamqpsrvr
journal_print
depcomp
stamp-h1
INSTALL
install-sh
missing
compile
rsyslogd
rsyslog.service
ylwrap
*.orig
rg.conf*
*.sw?
*.sv?
*.cache
# some common names I use during development
utils
tmp*
log 
logfile
debug
core.*
shave
shave-libtool
core*
vgcore*
*.tar.gz
*.new
*.orig
*.old
*.diff
*.patch
checklog
*.bad
*.rej
*.log
logfile*
*.conf
!tests/testsuites/*.conf
log
/target
tests/*.trs
test-driver
grammar/grammar.c
grammar/grammar.h
cscope.out
.dirstamp
tests/HOSTNAME
tests/chkseq
tests/diagtalker
tests/have_relpEngineSetTLSLibByName
tests/have_relpSrvSetOversizeMode
tests/have_relpSrvSetTlsConfigCmd
tests/inputfilegen
tests/minitcpsrv
tests/msleep
tests/nettester
tests/ourtail
tests/randomgen
tests/set-envvars
tests/syslog_caller
tests/omrelp_dflt_port
tests/syslog_inject
tests/test_id
tests/tcpflood
tests/uxsockrcvr
tests/xlate.lkp_tbl
tests/xlate_1.lkp_tbl
tests/xlate_array.lkp_tbl
tests/rstb_*
.vscode/
*.sw*
clang_output_*
tools/logctl
tools/rscryutil
tools/rscryutil.1
/bin/
# Coverage artifacts
*.gcda
*.gcno
coverage*
