rscript
rt_init
tmp
mangle_qi
.dep_cache
.dep_wrk
.loop_monitor
rsyslog.out.compare
*.pid
*.pid.save
*.started
test-spool/*
check_relpEngineVersion
testbench_test_failed_rsyslog
gnutls_sni_server
openssl_sni_server
