# Match upstream mock-core-configs: epel-10-x86_64 aliases
# centos-stream+epel-10. Keep project-specific repo appends only.
config_opts['koji_primary_repo'] = 'epel'
include('templates/centos-stream-10.tpl')
include('templates/epel-10.tpl')

config_opts['root'] = 'epel-10-x86_64'
config_opts['description'] = 'CentOS Stream 10 + EPEL'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)

config_opts['rpmbuild_networking'] = True
config_opts['use_host_resolv'] = True

config_opts['dnf.conf'] += """
[adiscon]
name=adiscon
baseurl=https://rpms.adiscon.com/v8-stable/epel-10/$basearch
skip_if_unavailable=true
enabled=1
gpgcheck=1
gpgkey=https://download.adiscon.com/rpms/RPM-GPG-KEY-Adiscon

[adiscon-2]
name=adiscon
baseurl=https://rpms.adiscon.com/v8-stable-build/epel-10/$basearch
skip_if_unavailable=true
enabled=1
gpgcheck=1
gpgkey=https://download.adiscon.com/rpms/RPM-GPG-KEY-Adiscon

[guardtime]
name = KSI
baseurl = https://download.guardtime.com/ksi/rhel/10/$basearch
skip_if_unavailable=true
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://download.guardtime.com/ksi/GUARDTIME-GPG-KEY
"""
