# Copyright 2024 Rainer Gerhards and Others
#
# https://github.com/rsyslog/rsyslog-pkg-ubuntu
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# References:
#
# https://help.github.com/en/github/managing-subscriptions-and-notifications-on-github/configuring-notifications#github-actions-notification-options
# https://github.com/settings/notifications
# https://software.opensuse.org//download.html?project=home%3Argerhards&package=rsyslog


---
name: compile check

on:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      # When set to true, cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      matrix:
        # note: we compile only with oldest and newest support compiler to
        # save ressources. Other important ones are used during the rest of
        # the check runs (most importantly the distro-default ones).
        config: [clang9, clang18-ndebug, gcc8-debug, gcc-11-ndebug, gcc14-gnu23-debug]

    steps:
      - name: git checkout project
        uses: actions/checkout@v1

      - name: run compile check (container)
        run: |
          chmod -R go+rw .
          export RSYSLOG_CONTAINER_UID="" # use default
          export CFLAGS='-g'
          case "${{ matrix.config }}" in
          'clang9')
              export RSYSLOG_DEV_CONTAINER='rsyslog/rsyslog_dev_base_ubuntu:20.04'
              export CC='clang-9'
              ;;
          'clang18-ndebug')
              export RSYSLOG_CONFIGURE_OPTIONS_EXTRA='--enable-debug=no'
              export RSYSLOG_DEV_CONTAINER='rsyslog/rsyslog_dev_base_ubuntu:24.04'
              export CC='clang-18'
              ;;
          'gcc8-debug')
              export RSYSLOG_CONFIGURE_OPTIONS_EXTRA='--enable-debug=yes'
              export RSYSLOG_DEV_CONTAINER='rsyslog/rsyslog_dev_base_ubuntu:18.04'
              export CC='gcc-8'
              ;;
          'gcc-11-ndebug')
              export RSYSLOG_CONFIGURE_OPTIONS_EXTRA='--enable-debug=no'
              export RSYSLOG_DEV_CONTAINER='rsyslog/rsyslog_dev_base_ubuntu:22.04'
              export CC='gcc-11'
              ;;
          'gcc14-gnu23-debug')
              # omamqp1 seems to have an issue with the build system - exclude it for now
              # rgerhards, 2024-12-06
              export RSYSLOG_CONFIGURE_OPTIONS_EXTRA='--enable-debug=yes --disable-omamqp1'
              export RSYSLOG_DEV_CONTAINER='rsyslog/rsyslog_dev_base_ubuntu:24.04'
              export CFLAGS="-g -std=gnu23"
              export CC='gcc-14'
              ;;
          *)
              echo "unknown configuration "
              echo "error-terminating this check run"
              exit 1
              ;;
          esac
          devtools/devcontainer.sh --rm devtools/run-configure.sh
          devtools/devcontainer.sh --rm make -j20
